
<head>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/lightbox.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />


    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="main-agile">
        <!-- header -->
        <CENTER>           <h2>NOSOTROS</h2></CENTER>

    </div>
    </div>
    <!-- about -->
    <div class="about-w3l agileits">
        <div class="container">
            <div class="about-w3ls-agileinfo">
                <div class="col-md-4 about-left agileits-w3layouts">
                    <div class="pic">
                        <div class="stack twisted">
                            <img src="~/Content/images/ab-page.jpg" alt=" " class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 about-right">
                    <h5>El mejor lugar! </h5>
                    <p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat laborum et dolorum fuga.  </p>
                    <!-- history -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lorem ipsum dolor
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body panel_text">
                                    Sed lectus tellus sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> GOLF CLUB
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body panel_text">
                                    Feugiat porttitor nulla Sed lectus tellus sodales id elit a,  Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> DIVIERTETE
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body panel_text">
                                    Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing. Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> DISFRUTA
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body panel_text">
                                    Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //history -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- Middle -->
    <div class="testimo w3ls">
        <div class="container">
            <div class="testimo-main wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <h5> Lugar para divertirse</h5>

            </div>
        </div>
    </div>
    <!-- //Middle -->
    <!-- blog -->
    <div class="blog" id="blog">
        <div class="container">
            <h3 class="agile-title">EVENTOS</h3>
            <div class="col-md-4 blog-grids">
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>April</p>
                        <span>17</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">club champion tournament 2017</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>June</p>
                        <span>22</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">Los futuros campeones del golf estan aqui!</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>May</p>
                        <span>15</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">golf legend paul short to officially open our club</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 blog-grids mid-blog-agile">
                <h5>Blog News</h5>
            </div>
            <div class="col-md-4 blog-grids">
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>July</p>
                        <span>26</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">club champion tournament 2017</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>May</p>
                        <span>06</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">golf champions of the future start here!</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-full-wthree">
                    <div class="blog-left-agileits">
                        <p>June</p>
                        <span>12</span>
                    </div>
                    <div class="blog-right-agileits-w3layouts">
                        <h4><a href="#" data-toggle="modal" data-target="#myModal2">La leyenda del golf  paul participo oficialmente en la apertura de nuestro club</a></h4>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2">Golf Club -</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- Modal5 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-info">
                        <h4>Golf Club</h4>
                        <img src="~/Content/images/gr2.jpg" alt=" " class="img-responsive" />
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        <p class="para-agileits-w3layouts">Duis sit amet nisi quis leo fermentum vestibulum vitae eget augue. Nulla quam nunc, vulputate id urna at, tempor tincidunt metus. Sed feugiat quam nec mauris mattis malesuada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal5 -->
    <!-- //blog -->
    <!-- feature -->
    <div class="spe-w3l" id="feature">
        <div class="container">
            <div class="wthree-services-bottom-grids">
                <div class="col-md-6 wthree-services-right left-w3">
                    <h3 class="title-w3">Ven y unete a nuestro club</h3>
                    <div class="wthree-services-right-bottom">
                        <div class="services-right-bottom-bottom">
                            <div class="col-xs-2 services-bottom-icon">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10 services-bottom-info text-w3l">
                                <h5>CURSOS</h5>
                                <p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="services-right-bottom-bottom">
                            <div class="col-xs-2 services-bottom-icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10 services-bottom-info text-w3l">
                                <h5>FACILIDADES</h5>
                                <p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="services-right-bottom-bottom">
                            <div class="col-xs-2 services-bottom-icon">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10 services-bottom-info text-w3l">
                                <h5>LECCIONES PARA TODAS LAS EDADES</h5>
                                <p>In hac habitasse platea dictumst. Proin et ipsum non augue porttitor mollis eget semper nisl.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 wthree-services-left img-2-w3">
                    <img src="~/Content/images/mk2.png" alt="">
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //feature -->
    <!-- team -->
    <div class="team" id="team">
        <h3 class="agile-title">NUESTRO EQUIPO</h3>
        <div class="agile_team_grids">
            <div class="col-md-2 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>

                    <div class="img"><img src="~/Content/images/t1.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Director</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Alison Roy</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>

                    <div class="img"><img src="~/Content/images/t2.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Manager</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Ruthie Doe</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 agile_team_grid t3">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>

                    <div class="img"><img src="~/Content/images/t3.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Trainer</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Edward Crisp</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 agile_team_grid t4">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>

                    <div class="img"><img src="~/Content/images/t4.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Maintenance</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Saen kmhn</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 agile_team_grid t4">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>

                    <div class="img"><img src="~/Content/images/t6.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Founder</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>John Koe</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 agile_team_grid t4">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                    <div class="img"><img src="~/Content/images/t5.jpg" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Trainer</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Lisn John</h4>
                <p>Fusce eu semper mkskham lacus, sodales id elit.</p>
                <div class="social-icons team-icons">
                    <ul>
                        <li><a href="#" class="fa fa-facebook"> </a></li>
                        <li><a href="#" class="fa fa-twitter"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>

            <center>

                <h2>
                    CONTACTANOS
                </h2>
            </center>
            <div class="contact">
                <div class="container">
                    <div class="contact-grids">
                        <div class="col-md-5 contact-grid wow fadeInUp animated" data-wow-delay=".5s">
                            <div class="call ">
                                <div class="col-xs-1 contact-grdl">
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                </div>
                                <div class="col-xs-9 contact-grdr">
                                    <ul>
                                        <li>+809-305-9286</li>
                                        <li>+809-556-9286</li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="call">
                                <div class="col-xs-1 contact-grdl">
                                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                                </div>
                                <div class="col-xs-9 contact-grdr">
                                    <ul>
                                        <li>Doctor Luis Joaquin Suarez,</li>
                                        <li>La Romana.</li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="call">
                                <div class="col-xs-1 contact-grdl">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </div>
                                <div class="col-xs-9 contact-grdr">
                                    <ul>
                                        <li><a href="">belkisvasquez@outlook.es</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-7 contact-grid wow fadeInUp animated" data-wow-delay=".5s">
                            <form action="#" method="post">
                                <input type="text" placeholder="Name" name="name" required="">
                                <input type="email" placeholder="Email" name="email" required="">
                                <textarea placeholder="Message.." name="message" required=""></textarea>
                                <input type="submit" value="Enviar">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="map wow fadeInUp animated" data-wow-delay=".5s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50996.31320435244!2d-122.06676498187694!3d36.97949802442312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e441b7c36d549%3A0x52ca104b2ad7f985!2sSanta+Cruz%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1469096018666" style="border:0"></iframe>
                </div>
            </div>



        </div>
    </div>
    <!-- //team -->
    <!-- js-scripts -->
    <!-- js-files -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js-files -->
    <!-- smooth scrolling -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth scrolling -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
	$(document).ready(function() {
		/*
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
		};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- //js-scripts -->
</body>
</html>
